html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media(max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}
.page-content {
  background-color: #f4f6f5;
}
.breadcrunches__list {
 display: flex;
 li {
   padding: 48px 0px 39px;
    a, span {
      font-size: 15px;
      color: #b0bec5;
    }
    &:last-child {
      a, span {
          color: $grey;
          font-weight: 600;
      }
      }
      &+li {
        margin-left: 21px;
        position: relative;
        a::before {
          content: '-';
          color: $green;
          position: absolute;
          left: -13px;
        }
      }
    }
    
}

a {
  text-decoration: none;
  display: inline-block;
}
.product-title {
  font-weight: bold;
  font-size: 36px;
  color: $grey;
  margin: 0 auto;
  text-align: center;
}
