@import '_vars';
@import '_global';


//header start
.header__top__inner {
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
}
.header__text {
  margin-left: auto;
  margin-right: 25px;
}
.header__text {
  color:#546e7a;
}
.header__text-help {
  color: $red;
}

.header__btn {
  width: 72px;
  height: 32px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  line-height: 31px;
  color: #fff;
  text-decoration: none;
}
.header__login {
  background-color: $green;
  padding-right: 7px;
}
.header__register {
  background-color: $red;
}
.header__menu {
  background-color: $grey;
  height: 60px;
  padding-top: 20px;
  .container {
    .menu {
      .menu__list {
        li {
          display: inline-block;
          a {
            color: #fff;
            font-size: 14px;
            padding-right: 36px;
          }
        }
      }
    }
  }
}

//header end
//search start
.search {
  min-height: 532px;
  height: 100%;
  padding-top: 155px;
  text-align: center;
  color: #fff;
}

.search__title {
  padding-bottom: 25px;
  margin: 0 auto;
  font-size: 48px;
  font-weight: bold;
}
.search__whatWeHave {
  padding-bottom: 53px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: medium;
}
.search__form {
  margin: 0 auto;
  max-width: 670px;
  input {
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
    width: 670px;
    height: 56px;
    border: none;
    border-radius: 4px;
    &::placeholder {
      color: #90a4ae;
      font-size: 14px;
      padding-left: 15px;
    }
  }
}
.search__form__wrap {
  position: relative;
  width: auto;
}
.search__btn {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center;
  background-image: url('../images/search__btn.png');
}
//search end
//product start
.product {
  background-color: $product_bg;
  padding-top: 120px;
  padding-bottom: 112px;
  min-height: 1394px;
}
.product__title {
  padding-bottom: 60px;
}
.product__inner {
  text-align: center;
}
.product__btn {
  height: 37px;
  padding: 0px 20px;
  margin-right: 6px;
  color: $grey;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
  margin-bottom: 59px;
}
@media(max-width:600px){
  .product__btn {
    margin-bottom: 10px;
  }
}
.mixitup-control-active {
  background-color: $red;
  transition: all linear 0.3s;
}
.product__carts {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:1810px) {
  .product__carts{
    justify-content: space-around;
  }
}
.product__cart {
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  max-width: 442px;
  max-height: 408px;
  margin-bottom: 32px;
}
.product__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 442px;
  min-height: 250px;
}
.product__whatitis {
  padding: 29px 30px 16px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7ecf2;
}
.product__item-wrap a{
  display: block;
}
.product__name {
  font-size: 18px;
  color: $grey;
  padding-bottom: 10px;
  margin-right: auto;
}
.product__category {
  color: $green;
}
.product__price {
  font-size: 20px;
  font-weight: bold;
  line-height: 47.7px;
}
.product__bottom {
  padding: 17px 32px 21px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}
.autor__name {
  margin-right: auto;
  color: #546e7a;
  font-size: 14px;
  font-weight: 500;
}
.product__star {
  padding-right: 15px;
}
.stars {
  color: $grey;
  font-size: 12px;
}
//product end
//product-slider

.trending__slider {
  padding: 122px 0px 120px;
}
.trending__title {
  padding-bottom: 53px;
}

.slick-slide {
  padding-left: 0.5%;
}
@media (max-width: 949px) {
  .slider__trending__inner .slick-slide {
    padding-left: 1.5%;
  }
}
.slick-dots {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: 0;
  li {
    margin-right: 7px;
  }
  li button {
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 11px;
  }
  li.slick-active button {
    background-color: $green;
  }
}